@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --font-default: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font-001: "Kaushan Script", cursive;
    --font-002: "Titan One", sans-serif;
    --font-003: "Tilt Warp", sans-serif;
    --font-004: "Source Sans 3", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--font-default);
    min-height: 100vh;
}

header {
    background-color: #000;
    color: #FFF;
    text-align: center;
}

header > h1 {
    font-family: var(--font-003);
    font-size: 5vw;
    font-variant: small-caps;
    letter-spacing: 1px;
    padding-top: 50px;
}

header > p {
    font-family: var(--font-001);
    font-size: 1.75vw;
    letter-spacing: 0.2px;
    padding-bottom: 50px;
}

header a, footer a {
    color: #FFF;
    font-family: var(--font-004);
    font-weight: bolder;
    margin: 0 5px;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

section {
    font-family: var(--font-001);
    font-size: 2.5vw;
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
}

section > p {
    padding-bottom: 2rem;
}

.section-default {
    background-color: #FFF;
    color: #000;
}

.section-bg-img > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 0 10px;
    text-shadow: 1.25px 1.25px 0 #000;
}

.section-bg-img {
    background-color: rgb(51, 51, 51);
    color: #FFF;
}

section#img-001 {
    background-image: url(../images/background001.jpg);
    background-position: right center;
}

section#img-002 {
    background-image: url(../images/background002.jpg);
    background-position: right center;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    text-align: center;
}