@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

header {
    background-color: #000;
    color: #FFF;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: #FFF;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
}

.section-default {
    background-color: #FFF;
    color: #000;
}

.section-bg-img {
    background-color: rgb(51, 51, 51);
    color: #FFF;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    text-align: center;
}